{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Bienvenue {{ app.user.username }} !</h1>
    {% else %}
        <h1>Bienvenue !</h1>
    {% endif %}

    {% if app.user.imageName %}
        <img src="{{ asset('uploads/users/image_profile/' ~ app.user.imageName) }}" alt="Photo de profil" class="img-fluid rounded-circle">
    {% endif %}
{% endblock %}
